{% extends 'Base.html' %}
{% block title %}About us{% endblock title %}
{% block body %}
<div class="container marketing">
    <div class="myClas" style="margin-top: 20px;margin-bottom:40px">
        <center>
            <h1>OUR MISSION</h1>
            <h6>
                <p><i>"For Upkar Classes, Education is a mission. Our mission is to make quality education accessible
                        globally with ease to upgrade the knowledge machine of the universe and to ignite the passion
                        for education in the younger generation to redefine the term success".</i></p>
            </h6>
            <hr>
            <h1>OUR VISION</h1>
            <h6>
                <p><i>" To help students to achieve their academic objectives by providing innovative, best in class
                        coaching through interactive technology and mathodology and to make learning meaningful and
                        joyful. "</i></p>
            </h6>
        </center>

    </div>
    <hr class="featurette-divider">
    <div class="myClas" style="margin-top:50px;">
        <div class="row featurette">
            <div class="col-md-7">
                <center>
                    <h1>Upkar Classes</h1>
                </center>
                <p class="lead">UPKAR CLASSES started in the year 2018, by Eng. Pravesh jain with an aim to give the
                    right guidance to the students so that they can excel in their respective school and Board exams.
                </p>
                <br><br>
                <center>
                    <h4>
                        <p>Faculty of Physics,Chemistry and Math
                    </h4>
                    <h2>Eng.Pravesh Jain</h2>
                    (Founder&MD UPKAR CLASSES)</p>
                    </span></h2>
                </center>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <img src="static/img/pravesh.jpg" width="400" height="400" alt="...">

            </div>
        </div>

        <hr>
    </div>
    <!-- Three columns of text below the featurette -->
    <center>
        <font>
            <h1><b>OUR TEAM</b></h1>
        </font>
    </center>
    <hr class="myClas" style="margin-top: 20px;margin-bottom:40px">
    <div class="row">
        <div class="col-lg-4">
            <img src="static/img/a.jpg" width="200" height="200" alt="...">
            <h2>Neha Jain</h2>
            <h5><i>
                    <p>Faculty of Commerce </p>
                </i></h5>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="static/img/a.jpg" width="200" height="200" alt="...">

            <h2>Muskan Nagar</h2>
            <h5><i>
                    <p>Faculty of Biology </p>
                </i></h5>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="static/img/akshay.jpg" width="200" height="200" alt="...">
            <h2>Akashay Jain</h2>
            <h5><i>
                    <p>Mentor for Foundation classes(I-IIIV)</p>
                </i></h5>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr>
    <h3><b><i>"A Teacher is a compass that activates the MAGNETS of CURIOSITY, KNOWLEDGE, and WISDOM in the
                PUPILS."</b><sub>(~Ever Garrison)</sub></i></h3>

</div>
{% endblock body %}