{%extends 'Base.html'%}
{%block body%}
<div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img src="static/img/a.jpg" width="100%" height="100%">
                </svg>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <font color="black">
                            <h1><b>UPKAR CLASSES</b></h1>
                            <p><i>FIRST STEP TOWARDS YOUR FUTURE.</i></p>
                        </font>
                        <p><a class="btn btn-lg btn-primary" href="AboutUs">About us</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img src="static/img/c.jpeg" width="100%" height="100%">
                </svg>

                <div class="container">
                    <div class="carousel-caption">
                        <font color="black">
                            <h1><b>UPKAR CLASSES</b></h1>
                            <p><i>A JOURNEY TO EXCELLENCE.</i></p>
                        </font>
                        <br>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img src="static/img/b.jpeg" width="100%" height="100%">
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1><b>UPKAR CLASSES</b></h1>
                        <p><i>AN EXCELLENT FOUNDATION FOR FUTURE SUCCESS.</i></p>

                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <h1><b>OUR COURSES</b></h1>
        <div class="myClass" style="margin-top: 70px;">
            <div class="row">
                <div class="col-lg-4">
                    <img src="static/img/i-viii.jpg" width="200" height="150">
                    <h2>FOUNDATION</h2>
                    <p>In the foundation courses we provide education to classes I-VIII.</p>
                    <br>
                    <p><a class="btn btn-dark" href="ContactUs">enroll now &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="static/img/X.webp" width="200" height="150">
                    <h2>BASE</h2>
                    <p>Class IX-X are the base classes. We call them base class classes because they are made the
                        foundation for
                        our carrer.</p>
                    <p><a class="btn btn-dark" href="ContactUs">enroll now &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="static/img/XII.jpg" width="200" height="150">
                    <h2>STREAM</h2>
                    <p>Class XI-XII plays the main role in our carrer. We provide education of PCM,BIO and COMM steams.
                    </p>
                    <p><a class="btn btn-dark" href="ContactUs">enroll now &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
        <!-- END THE FEATURETTES -->
    </div>
    <hr class="featurette-divider">
    <div class="container">
        <div class="row">
            <div class="myClass" style="margin-bottom: 70px;">
                <h1><b>WHY CHOOSE US</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-sm-2 order-2 order-md-0 order-lg-0 order-xl-0">
                <div class="main-card">
                    <div class="sub-card">
                        <img src="static/img/1.png" height="400" width="300">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="main-card">
                    <div class="content">
                        <ol>
                            <li>
                                <div class="myClass" style="margin-bottom: 70px;">
                                    <h3><i>A success-oriented learning environment.</i></h3>
                                </div>


                            </li>
                            <li>
                                <div class="myClass" style="margin-bottom: 70px;">
                                    <h3><i>Quality education is our prime objective.</i></h3>
                                </div>


                            </li>
                            <li>
                                <div class="myClass" style="margin-bottom: 70px;">

                                    <h3><i>Conceptual excellence is our focus.</i></h3>
                                </div>

                            </li>
                            <li>
                                <div class="myClass" style="margin-bottom: 70px;">
                                    <h3><i>Education at affordable cost.</i></h3>
                                </div>

                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <center>
            <h3><b>OUR MISSION</b></h3>
            <h6>
                <p><i>"For Upkar Classes, Education is a mission. Our mission is to make quality education accessible
                        globally with ease to upgrade the knowledge machine of the universe and to ignite the passion
                        for education in the younger generation to redefine the term success".</i></p>
            </h6>
            <hr>
            <h3><b>OUR VISION</b></h3>
            <h6>
                <p><i>" To help students to achieve their academic objectives by providing innovative, best in class
                        coaching through interactive technology and mathodology and to make learning meaningful and
                        joyful. "</i></p>
            </h6>
        </center>
    </div </div>
    {%endblock body%}